/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	background: #fafafa;
	font-size: 14px;
	color: #252b42;
	font-weight: 500;
	font-family: Montserrat;
}
/* ---------------------------------------------------------------------------- */

._container {
	max-width: 1076px;
	padding: 0px 15px;
	margin: 0px auto;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.header-block {
	text-align: center;
}
.header-block__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 142%;
	letter-spacing: 0.2px;
}
.header-block__title:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.header-block__subtitle {
	font-size: 14px;
	line-height: 143%;
	letter-spacing: 0.2px;
	color: #737373;
}
@media (max-width: 767px) {
	.header-block__title {
		font-size: 36px;
	}
}
@media (max-width: 479px) {
	.header-block__title {
		font-size: 30px;
	}
}
/* -----HEADER----------------------------------------------------------------------- */

.header {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 50;
	min-height: 104px;
	padding: 5px 0;
}
.header__container {
	min-height: 104px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.header__logo {
	font-weight: 700;
	font-size: 24px;
	line-height: 133%;
	letter-spacing: 0.1px;
	padding: 0px 132px 0px 0px;
	color: inherit;
}
.header__menu {
}
.menu {
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
}
.menu__item {
}
.menu__item:not(:last-child) {
	margin: 0px 21px 0px 0px;
}
.menu__link {
	font-weight: 600;
	font-size: 14px;
	line-height: 171%;
	letter-spacing: 0.2px;
	color: #737373;
	transition: all 0.3s ease 0s;
}
.menu__link:hover {
	color: #252b42;
}
@media (max-width: 992px) {
	.header__logo {
		padding: 0px 80px 0px 0px;
	}
}
@media (max-width: 767px) {
	.header__logo {
		padding: 0px 40px 0px 0px;
	}
}
@media (max-width: 479px) {
	.header__logo {
		padding: 0px 20px 0px 0px;
	}
	.menu__link {
		font-size: 18px;
	}
}

/* ---------------------------------------------------------------------------- */
.page {
	flex: 1 1 auto;
	position: relative;
}
.page__main-block {
}
.page__services {
	margin: -111px 0px 0px 0px;
	position: relative;
	z-index: 2;
}
.page__advantages {
}
.page_practice {
}
.page__whoweare {
}
.page__partners {
}
.page__subscribe {
	margin: -67px 0px 0px 0px;
}
.page__getintouch {
}
.page__contact {
}
/* ---------------------------------------------------------------------------- */
.main-block {
	position: relative;
}
.main-block__container {
}

.main-block__body {
	padding: 184px 0px 191px 0px;
	max-width: 400px;
	position: relative;
	z-index: 2;
}
.main-block__body > *:not(:last-child) {
	margin: 0px 0px 35px 0px;
}
.main-block__title {
	font-weight: 800;
	font-size: 58px;
	line-height: 138%;
	letter-spacing: 0.2px;
}
.main-block__text {
	font-size: 20px;
	line-height: 150%;
	letter-spacing: 0.2px;
	color: #737373;
}
.main-block__buttons {
	margin: -10px 0px;
}
.main-block__button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	line-height: 150%;
	text-align: center;
	letter-spacing: 0.2px;
	min-height: 48px;
	padding: 5px 36px;
	border-radius: 37px;
	transition: all 0.3s ease 0s;
	margin: 10px 0px;
}
.main-block__button_orange {
	background-color: #ff7b47;
	color: #fff;
}
.main-block__button_orange:hover {
	background-color: #fff;
	color: #ff7b47;
}
.main-block__button_border {
	color: #0d5c63;
	border: 1px solid #0d5c63;
}
.main-block__button_border:hover {
	color: #fff;
	background-color: #0d5c63;
}

.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

@media (max-width: 1300px) {
	.main-block__image img {
		object-position: right;
	}
}
@media (max-width: 992px) {
	.main-block__body {
		padding: 150px 0px 180px 0px;
	}
	.main-block__image::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.7);
		background: linear-gradient(90deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
	}
}
@media (max-width: 767px) {
	.main-block__body {
		padding: 130px 0px 160px 0px;
	}
	.main-block__body > *:not(:last-child) {
		margin: 0px 0px 25px 0px;
	}
	.main-block__title {
		font-size: 48px;
	}
	.main-block__text {
		font-size: 18px;
	}
}
@media (max-width: 479px) {
	.main-block__body > *:not(:last-child) {
		margin: 0px 0px 20px 0px;
	}
	.main-block__title {
		font-size: 36px;
	}
	.main-block__text {
		font-size: 14px;
	}
}
@media (min-width: 479px) {
	.main-block__buttons {
		display: flex;
	}
	.main-block__button:not(:last-child) {
		margin-right: 10px;
	}
}

/* ---------------------------------------------------------------------------- */

.services {
}
.services__container {
}
.services__body {
	margin: -15px;
}
.services__column {
	flex: 0 1 33.333%;
	padding: 0px 15px;
	margin: 15px 0;
}
.services__item {
	height: 100%;
}
@media (min-width: 700px) {
	.services__body {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}
@media (max-width: 992px) {
	.services__column {
		flex: 0 1 50%;
	}
	.services__column:last-child {
		flex: 1 1 auto;
	}
}
.item-services {
	background-color: #fff;
	padding: 35px;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.item-services:hover {
	background-color: #0d5c63;
}

.item-services__icon {
	height: 48px;
	display: flex;
	align-items: flex-end;

	margin: 0px 0px 13px 0px;
}
.item-services:hover .item-services__icon path {
	fill: #fff;
}
.item-services__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 133%;
	letter-spacing: 0.1px;
}
.item-services__title:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.item-services__title a {
	color: inherit;
}
.item-services:hover .item-services__title {
	color: #fff;
}
.item-services__text {
	font-weight: 500;
	font-size: 14px;
	line-height: 143%;
	letter-spacing: 0.2px;
	color: #737373;
}
.item-services:hover .item-services__text {
	color: #fff;
}
@media (max-width: 767px) {
	.item-services__icon {
		margin: 0px 0px 10px 0px;
	}
	.item-services__title {
		font-size: 21px;
	}
	.item-services__title:not(:last-child) {
		margin: 0px 0px 7px 0px;
	}
}
/* ---------------------------------------------------------------------------- */

.advantages {
	padding: 80px 0;
}
.advantages__container {
}
.advantages__header-block {
	margin: 0px 0px 50px 0px;
}
.advantages__body {
	display: flex;
	justify-content: space-between;
	margin: -10px -15px;
	flex-wrap: wrap;
}
.advantages__column {
	flex: 0 1 25%;
	padding: 0px 15px;
	margin: 10px 0;
}
.advantages__item {
}
@media (max-width: 992px) {
	.advantages {
		padding: 60px 0;
	}
	.advantages__header-block {
		margin: 0px 0px 40px 0px;
	}
	.advantages__body {
		margin: -10px -10px;
	}
	.advantages__column {
		flex: 0 1 50%;
		padding: 0px 10px;
	}
}
@media (max-width: 767px) {
	.advantages {
		padding: 40px 0 20px 0;
	}
	.advantages__header-block {
		margin: 0px 0px 30px 0px;
	}
}
@media (max-width: 561px) {
	.advantages__column {
		flex: 1 1 100%;
	}
}
.item-advantages {
	background-color: #fff;
	padding: 30px;
	text-align: center;
	height: 100%;
	font-weight: 700;
}
.item-advantages > *:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.item-advantages__icon {
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-advantages__number {
	font-size: 40px;
	line-height: 142%;
	letter-spacing: 0.2px;
}
.item-advantages__text {
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.1px;
	color: #737373;
}

/* ---------------------------------------------------------------------------- */

.practice {
	padding: 125px 0px 80px 0px;
}
.practice__container {
}
.practice__header-block {
	margin: 0px 0px 45px 0px;
}
.practice__body {
	display: flex;
	justify-content: space-between;
	margin: -10px -15px;
	flex-wrap: wrap;
}
.practice__column {
	flex: 0 1 25%;
	padding: 0px 15px;
	margin: 10px 0;
}
.practice__item {
}
@media (max-width: 992px) {
	.practice {
		padding: 60px 0px;
	}
	.practice__body {
		margin: -10px -10px;
	}
	.practice__column {
		flex: 0 1 50%;
		padding: 0px 10px;
	}
}
@media (max-width: 767px) {
	.practice {
		padding: 40px 0px;
	}
	.practice__header-block {
		margin: 0px 0px 30px 0px;
	}
}
@media (max-width: 630px) {
	.practice {
		padding: 30px 0px;
	}
	.practice__column {
		flex: 1 1 100%;
	}
	.practice__header-block {
		margin: 0px 0px 20px 0px;
	}
}
.item-practice {
	display: flex;
	height: 100%;
	flex-direction: column;
	background-color: #fff;
}
.item-practice__content {
	flex: 1 1 auto;
	padding: 30px;
}
.item-practice__link {
	display: inline-block;
	color: inherit;
}
.item-practice__link:not(:last-child) {
	margin: 0px 0px 15px 0px;
}
.item-practice__link:hover {
	text-decoration: underline;
}
.item-practice__title {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.1px;
}

.item-practice__text {
	font-size: 14px;
	line-height: 143%;
	letter-spacing: 0.2px;
	color: #737373;
}
.item-practice__image {
	display: block;
	padding: 0px 0px 60% 0px;
}
@media (max-width: 767px) {
	.item-practice__content {
		padding: 20px;
	}
	.item-practice__link:not(:last-child) {
		margin: 0px 0px 10px 0px;
	}
	.item-practice__title {
		font-size: 18px;
	}
}
/* ---------------------------------------------------------------------------- */

.whoweare {
	background-color: #fff;
	padding: 100px 0;
}
.whoweare__container {
}
.whoweare__header-block {
	margin: 0px 0px 100px 0px;
}
.whoweare__body {
	display: flex;
	align-items: flex-start;
}
.whoweare__video {
	flex: 0 0 57%;
	margin: 0px 120px 0px 0px;
	position: relative;
	padding: 0px 0px 42.25% 0px;
}
.whoweare__video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.whoweare__content {
	flex: 1 1 auto;
}
.whoweare__top {
	letter-spacing: 0.2px;
	padding: 20px 0px 0px 0px;
	margin: 0px 0px 50px 0px;
}
.whoweare__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 142%;
}
.whoweare__title:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.whoweare__text {
	font-size: 14px;
	line-height: 143%;
	color: #737373;
}
.whoweare__items {
}
.whoweare__item {
	padding: 0px 0px 0px 50px;
	position: relative;
}
.whoweare__item {
}

.whoweare__item:not(:last-child) {
	margin: 0px 0px 30px 0px;
}

.item-whoweare::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 32px;
	height: 32px;
}
.item-whoweare_1::before {
	background: url("/img/whoweare/1.svg") 0 0 / contain no-repeat;
}
.item-whoweare_2::before {
	background: url("/img/whoweare/2.svg") 0 0 / contain no-repeat;
}
.item-whoweare__title {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.1px;
}
.item-whoweare__title:not(:last-child) {
	margin: 0px 0px 5px 0px;
}
.item-whoweare__text {
	font-weight: 600;
	font-size: 14px;
	line-height: 171%;
	letter-spacing: 0.2px;
	color: #737373;
}
@media (max-width: 1040px) {
	.whoweare {
		padding: 80px 0;
	}
	.whoweare__header-block {
		margin: 0px 0px 80px 0px;
	}
	.whoweare__video {
		margin: 0px 80px 0px 0px;
	}
	.whoweare__top {
		padding: 0;
	}
}
@media (max-width: 992px) {
	.whoweare {
		padding: 60px 0;
	}
	.whoweare__header-block {
		margin: 0px 0px 60px 0px;
	}
	.whoweare__video {
		margin: 0px 40px 0px 0px;
	}
	.whoweare__top {
		margin: 0px 0px 30px 0px;
	}
	.whoweare__item:not(:last-child) {
		margin: 0px 0px 20px 0px;
	}
}
@media (max-width: 767px) {
	.whoweare {
		padding: 40px 0;
	}
	.whoweare__header-block {
		margin: 0px 0px 40px 0px;
	}
	.whoweare__body {
		flex-wrap: wrap;
	}
	.whoweare__video {
		flex: 1 1 100%;
		padding: 0px 0px 57% 0px;
		margin: 0px 0px 20px 0px;
	}
	.whoweare__title {
		font-size: 36px;
	}
}
@media (max-width: 479px) {
	.whoweare {
		padding: 30px 0;
	}
	.whoweare__header-block {
		margin: 0px 0px 30px 0px;
	}
	.whoweare__title {
		font-size: 30px;
	}
	.whoweare__top {
		margin: 0px 0px 20px 0px;
	}
}
/* ---------------------------------------------------------------------------- */

.partners {
	padding: 56px 0px 143px 0px;
}
.partners__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: -15px auto;
}
.partners__item {
	flex: 0 1 16.666%;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 75px;
	margin: 15px 0;
}
.partners__item img {
	max-heigh: 75px;
}
@media (max-width: 992px) {
	.partners {
		padding-top: 40px;
	}
	.partners__item {
		flex: 0 1 33.333%;
	}
}
@media (max-width: 479px) {
	.partners {
		padding-top: 30px;
	}
	.partners__item {
		flex: 0 1 50%;
	}
}
/* ---------------------------------------------------------------------------- */

.subscribe {
	position: relative;
	padding: 0px 0px 20px 0px;
}
.subscribe::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 77px;
	left: 0;
	bottom: 0;
	background: #252b42;
}
.subscribe__container {
	padding: 0px 45px;
	position: relative;
	z-index: 2;
}
.subscribe__body {
	background: #17213c;
	border-radius: 2px;
	padding: 33px 40px 33px 50px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.subscribe__title {
	font-weight: bold;
	font-size: 24px;
	line-height: 133%;
	letter-spacing: 0.1px;
	color: #ffffff;
	width: 300px;
	padding: 0px 20px 0px 0px;
}

.subscribe__form {
	display: flex;
	height: 58px;
}
.subscribe__input {
	background: #f9f9f9;
	border: 1px solid #e6e6e6;
	border-radius: 5px 0 0 5px;
	width: 333px;
	padding: 15px 20px;
	font-size: 14px;
	line-height: 200%;
	letter-spacing: 0.2px;
}
.subscribe__button {
	background: #ff7b47;
	border: 1px solid #e6e6e6;
	border-radius: 0px 5px 5px 0px;
	font-size: 14px;
	line-height: 200%;
	text-align: center;
	letter-spacing: 0.2px;
	color: #ffffff;
	padding: 15px 22px;
	cursor: pointer;
}
.subscribe__button:hover {
	background: #e6e6e6;
	color: #ff7b47;
}
@media (max-width: 992px) {
	.subscribe__container {
		padding: 0px 30px;
	}
	.subscribe__body {
		padding: 30px;
	}
	.subscribe__title {
		width: 250px;
		font-size: 21px;
	}
	.subscribe__input {
		width: 250px;
		padding: 15px;
	}
	.subscribe__button {
		padding: 15px;
	}
}
@media (max-width: 767px) {
	.subscribe::before {
		display: none;
	}
	.subscribe__container {
		padding: 0;
	}
	.subscribe__body {
		padding: 20px 30px;
	}
	.subscribe__title {
		font-size: 18px;
		width: auto;
		margin: 0px 0px 15px 0px;
	}
	.subscribe__form {
		flex: 1 1 auto;
	}
	.subscribe__input {
		width: 100%;
	}
}
/* ---------------------------------------------------------------------------- */
.getintouch {
	padding: 80px 0px 148px 0px;
}
.getintouch__container {
	padding: 0px 45px;
}
.getintouch__header-block {
	margin: 0px 0px 80px 0px;
}
.getintouch__body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.getintouch__item {
	background-color: #fff;
	padding: 50px 40px;
	text-align: center;
	transition: all 0.3s ease 0s;
	position: relative;
}
.getintouch__item:hover {
	background-color: #252b42;
	color: #fff;
}
.getintouch__item::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: -1;
	transition: all 0.3s ease 0s;
}
.getintouch__item:hover::before {
	height: calc(100% + 60px);
	transform: translateY(-30px);
	background-color: #252b42;
}

.getintouch__item > *:not(:last-child) {
	margin: 0px 0px 15px 0px;
}
.getintouch__icon {
	min-height: 72px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.getintouch__icon svg {
	max-height: 100%;
}
.getintouch__item:hover .getintouch__icon path {
	fill: #fff;
}
.getintouch__emails {
	font-weight: 600;
	line-height: 171%;
	letter-spacing: 0.2px;
}
.getintouch__email {
	display: block;
	color: inherit;
}
.getintouch__email:hover {
	text-decoration: underline;
}
.getintouch__title {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.1px;
}
.getintouch__button {
	display: inline-block;
	font-weight: 600;
	line-height: 171%;
	text-align: center;
	letter-spacing: 0.2px;
	color: #ff7b47;
	border: 1px solid #ff7b47;
	padding: 10px 20px;
	border-radius: 5px;
	min-height: 44px;
}
.getintouch__item:hover .getintouch__button {
	color: #fff;
	border-color: #fff;
}
@media (max-width: 992px) {
	.getintouch {
		padding: 60px 0px 80px 0px;
	}
	.getintouch__header-block {
		margin: 0px 0px 60px 0px;
	}
	.getintouch__container {
		padding: 0;
	}
	.getintouch__body {
		flex-direction: column;
	}
	.getintouch__item {
		width: 100%;
	}
}
@media (max-width: 767px) {
	.getintouch {
		padding: 40px 0px 60px 0px;
	}
	.getintouch__header-block {
		margin: 0px 0px 40px 0px;
	}
	.getintouch__item {
		padding: 30px 20px;
	}
}
/* ---------------------------------------------------------------------------- */

.contact {
	padding: 40px 0px;
	background-color: #fff;
}
.contact__container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.contact__content {
	padding: 0px 20px 0px 0px;
}
.contact__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 133%;
	letter-spacing: 0.1px;
}
.contact__title:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.contact__text {
	line-height: 143%;
	letter-spacing: 0.2px;
	color: #737373;
}
.contact__button {
	min-height: 58px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	padding: 5px 40px;
	background: #ff7b47;
	border-radius: 5px;
	font-weight: bold;
	font-size: 14px;
	line-height: 200%;
	text-align: center;
	letter-spacing: 0.2px;
	transition: all 0.3s ease 0s;
}
.contact__button:hover {
	color: #ff7b47;
	background: #fff;
	border: 1px solid #ff7b47;
}
@media (max-width: 767px) {
	.contact {
		padding: 30px 0px;
	}
	.contact__content {
		margin: 0px 0px 20px 0px;
	}
	.contact__title:not(:last-child) {
		margin: 0px 0px 5px 0px;
	}
}
/* ---------------------------------------------------------------------------- */
.footer {
}
.footer__top {
	background-color: #17213c;
	padding: 50px 0;
	color: #fff;
}
.footer__container {
}
.footer__row {
	display: flex;
	margin: -15px;
	flex-wrap: wrap;
}
.footer__column {
	flex: 0 1 16.666%;
	padding: 15px 15px;
}
.footer__column:last-child {
	flex: 0 1 33.333%;
}
.footer__label {
	font-weight: bold;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.1px;
	margin: 0px 0px 20px 0px;
}
.footer__menu {
}
.menu-footer {
}
.menu-footer__list {
}
.menu-footer__item:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.menu-footer__link {
	display: inline-block;
	color: inherit;
	font-weight: 600;
	line-height: 171%;
	letter-spacing: 0.2px;
	position: relative;
}
.menu-footer__link:hover {
	text-decoration: underline;
}
.footer__column:last-child .menu-footer__link {
	padding: 0px 0px 0px 34px;
}
.footer__column:last-child .menu-footer__link::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 24px;
}
.menu-footer__link_phone::before {
	background: url("/img/footer/01.svg") 0 0 / contain no-repeat;
}
.menu-footer__link_adress::before {
	background: url("/img/footer/02.svg") 0 0 / contain no-repeat;
}
.menu-footer__link_email::before {
	background: url("/img/footer/03.svg") 0 0 / contain no-repeat;
}
@media (max-width: 992px) {
	.footer__column {
		flex: 0 1 25%;
	}
	.footer__column:last-child {
		flex: 1 1 100%;
	}
}
@media (max-width: 767px) {
	.footer__top {
		padding: 35px 0;
	}
	.footer__column {
		flex: 0 1 50%;
	}
}
.footer__bottom {
	padding: 15px 0;
}
.footer__bottom .footer__container {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

.footer__copy {
	font-weight: 600;
	font-size: 14px;
	line-height: 171%;
	letter-spacing: 0.2px;
	color: #737373;
	padding: 0px 20px 0px 0px;
	text-align: center;
}
.footer__social {
	margin: 0px 0px 10px 0px;
}
.social {
	display: flex;
	align-items: center;
}
.social__item:not(:last-child) {
	margin: 0px 20px 0px 0px;
	height: 24px;
	display: flex;
	align-items: center;
}
.social__item img {
	max-height: 100%;
}
@media (min-width: 767px) {
	.footer__bottom {
		padding: 25px 0;
	}
	.footer__bottom .footer__container {
		flex-direction: row;
		justify-content: space-between;
	}
	.footer__copy {
		text-align-last: left;
	}
	.footer__social {
		margin: 0;
	}
}
